/* Practice Layout */

.mdl-layout__content {
  height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.solution {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.footer {
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.solution-title {
  background-color: #E8E8E8;
}

.solution-title h4{
  font-size: 20px;
  color: #787878;
  margin: 0;
}

.solution-nav{
  background-color: #DCDCDC;
}

.solution-nav ul{
  display: inline-block;
  list-style: none;
  padding: 0;
}

.solution-nav li{
  float: left;
  margin: 0 15px;
  padding: 0;
}

.solution-nav a{
  text-decoration: none;
}

.search-sidebar{
  float: none;
  width: 100%;
}

.solution-article{
  float: none;
  width: 100%;
}

@media only screen and (min-width: 740px) {
  .search-sidebar{
    float: left;
    width: 30%;
  }

  .solution-article{
    float: right;
    width: 70%;
  }
}

.footer{
  clear: both;
}
